name: jobs

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  php:
    name: PHP tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: [7.4]
        composer-version: [1, 2]

    steps:
      - uses: actions/checkout@v2
      - name: Cache Composer dependencies
        uses: actions/cache@v2
        with:
          path: /tmp/composer-cache
          key: ${{ runner.os }}-${{ hashFiles('**/composer.lock') }}
      - name: Install dependencies
        uses: php-actions/composer@v6
        with:
          php_version: ${{ matrix.php-version }}
          version: ${{ matrix.composer-version }}
          php_extensions: json imagick curl
      - name: Easy coding standard
        run: ./vendor/bin/ecs check
  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
      - run: npm i
      - run: npx prettier --check .
  release:
    name: Release
    needs: [php, prettier]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v2
        with:
          semantic_version: 17.4.2
          branches: main
          extra_plugins: |
            @semantic-release/changelog@5.0.1
            @semantic-release/git@9.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
